@import './../../assets/variables';

.menu {
  &.bottom-menu {
    width: 100%;
    height: $header-height;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background: $primary;
    border-top: 1px solid $primary;
    ul {
      display: flex;
      width: 100%;
      height: $header-height;
      justify-content: center;
      li {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        &.active {
          background: rgba(255, 255, 255, 0.3);
        }
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-transform: uppercase;
          text-align: center;
          color: $ice;
          font-size: 9px;
          svg {
            margin-bottom: 4px;
          }
        }
      }
    }
    @media (min-width: ($breakpoint + 1px)) {
      display: none;
    }
  }
}
