
@import './../../assets/variables';
@import './../../assets/mixins';

.header {
  position: sticky;
  top: 0;
  z-index: $zindex-sticky;
  height: $header-height;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $primaryDark;
  background-color: $ice;
  @media (max-width: ($breakpoint)) {
    background-color: $primary;
  }
  &-logo {
    display: none;
    @media (max-width: ($breakpoint)) {
      display: block;
    }
  }
  &-links {
    display: inline-flex;
    color: $primary;
    margin-right: 0;
    margin-left: auto;
    @media (max-width: ($breakpoint)) {
      color: $ice;
    }
    li {
      margin-left: 15px;
      a {
        display: flex;
        svg {
          width: 34px;
          height: 34px;
          @media (max-width: ($breakpoint)) {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
   
  }
  .container {
    @include container;
    display: flex;
    align-items: center;
    height: 100%;
  }
}

