@import './variables';

@mixin container {
  padding: 0 15px;
  max-width: $max-width;
  margin: 0 auto;
}

@mixin h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.18;
  color: $primary;
  margin-top: 50px;
  margin-bottom: 30px;
  @media (max-width: ($breakpoint)) {
    font-size: 24px;
    margin: 25px 0;
  }
}

@mixin h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  color: $primary;
}

@mixin smallText {
  font-size: 12px;
  line-height: 14px;
}

@mixin form {
  .form-item {
    position: relative;
    margin-bottom: 30px;
    &.last:last-child {
      margin-bottom: 0;
    }
    &-wrap {
      position: relative;
      display: flex;
       > *:last-child:not(:first-child) {
        margin-left: 60px;
        flex-shrink: 0;
      }
    }
   
    .input-wrap {
      width: 100%;
      height: 36px;
      padding: 0 16px;
      display: flex;
      align-items: center;
      flex-grow: 1;
      background: $ice;
      border: 1px solid $silver;
      border-radius: 47px;
      color: $darkPurple;
      font-weight: 500;
      input {
        flex-grow: 1;
      }
      span:not(.right-label) {
        padding-left: 15px;
        font-weight: 400;
        color: $darkGray;
      }
    }
    
    .left-label {
      margin-right: 5px;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
    }
    .right-label {
      color: $steel;
      font-weight: 400;
      text-align: right;
      &::placeholder {
        color: $steel;
      }
    }
  }
  .form-help-text {
    position: absolute;
    bottom: -18px;
    left: 30px;
    font-size: 12px;
    line-height: 14px;
    color: $steel;
  }
  .form-label {
    display: block;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $primary;
    & + .form-description {
      margin-top: -5px;
    }
  }
  .form-description {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
  }
  .form-submit {
    padding: 0 30px;
    text-align: center;
  }
  button {
    @include button;
  }
}

@mixin button {
  width: 153px;
  height: 36px;
  background: $primary;
  border-radius: 18px;
  font-weight: 500;
  color: $ice;
  &:disabled {
    background: $fog;
    cursor: auto;
  }
}

@mixin containerSm {
  max-width: $formWidth;
  margin-left: auto;
  margin-right: auto;
}
