@import './variables';

@mixin container {
  padding: 0 15px;
  max-width: $max-width;
  margin: 0 auto;
}

@mixin h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.18;
  color: $primery;
  margin-top: 50px;
  margin-bottom: 30px;
}
