@import '../src/assets/variables';
@import './assets/reboot';
@import './assets/mixins';

.main {
  position: relative;
  &-wrapper {
    display: flex;
    min-height: 100vh;
  }
  &-content {
    flex-grow: 1;
    @media (min-width: ($breakpoint + 1px)) {
      padding-left: 265px;
    }
    .page {
      @include container;
      @media (max-width: ($breakpoint)) {
        padding-bottom: $header-height;
      }
    }
  }
}
